<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>NMA Test Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a77ecf">  <td>15/09/16 12:08:44</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.beforeMethod()[pri:0, instance:com.mobitv.client.qa.nma.regression.tablet1.TestClips@183ff528]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@390531526</td>   <td></td> </tr>
<tr bgcolor="9af699">  <td>15/09/16 12:09:04</td>   <td>19782</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestClips.Test_Clips()[pri:0, instance:com.mobitv.client.qa.nma.regression.tablet1.TestClips@183ff528]">Test_Clips</td> 
  <td>main@390531526</td>   <td></td> </tr>
<tr bgcolor="a77ecf">  <td>15/09/16 12:10:41</td>   <td>117123</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.afterMethod()[pri:0, instance:com.mobitv.client.qa.nma.regression.tablet1.TestClips@183ff528]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@390531526</td>   <td></td> </tr>
<tr bgcolor="a77ecf">  <td>15/09/16 12:10:45</td>   <td>121336</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.beforeMethod()[pri:0, instance:com.mobitv.client.qa.nma.regression.tablet1.TestClips@183ff528]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@390531526</td>   <td></td> </tr>
<tr bgcolor="9af699">  <td>15/09/16 12:11:00</td>   <td>136187</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestClips.Test_Clips_Mute()[pri:0, instance:com.mobitv.client.qa.nma.regression.tablet1.TestClips@183ff528]">Test_Clips_Mute</td> 
  <td>main@390531526</td>   <td></td> </tr>
<tr bgcolor="a77ecf">  <td>15/09/16 12:11:54</td>   <td>189694</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.afterMethod()[pri:0, instance:com.mobitv.client.qa.nma.regression.tablet1.TestClips@183ff528]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@390531526</td>   <td></td> </tr>
<tr bgcolor="a77ecf">  <td>15/09/16 12:11:58</td>   <td>193778</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.beforeMethod()[pri:0, instance:com.mobitv.client.qa.nma.regression.tablet1.TestClips@183ff528]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@390531526</td>   <td></td> </tr>
<tr bgcolor="9af699">  <td>15/09/16 12:12:12</td>   <td>207596</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestClips.Test_Clips_PlayPause()[pri:0, instance:com.mobitv.client.qa.nma.regression.tablet1.TestClips@183ff528]">Test_Clips_PlayPause</td> 
  <td>main@390531526</td>   <td></td> </tr>
<tr bgcolor="a77ecf">  <td>15/09/16 12:12:57</td>   <td>252845</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.afterMethod()[pri:0, instance:com.mobitv.client.qa.nma.regression.tablet1.TestClips@183ff528]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@390531526</td>   <td></td> </tr>
<tr bgcolor="a77ecf">  <td>15/09/16 12:13:01</td>   <td>257410</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.beforeMethod()[pri:0, instance:com.mobitv.client.qa.nma.regression.tablet1.TestClips@183ff528]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@390531526</td>   <td></td> </tr>
<tr bgcolor="9af699">  <td>15/09/16 12:13:20</td>   <td>275822</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestClips.Test_NMA_8611()[pri:0, instance:com.mobitv.client.qa.nma.regression.tablet1.TestClips@183ff528]">Test_NMA_8611</td> 
  <td>main@390531526</td>   <td></td> </tr>
<tr bgcolor="a77ecf">  <td>15/09/16 12:14:19</td>   <td>335463</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.afterMethod()[pri:0, instance:com.mobitv.client.qa.nma.regression.tablet1.TestClips@183ff528]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@390531526</td>   <td></td> </tr>
<tr bgcolor="a77ecf">  <td>15/09/16 12:14:24</td>   <td>339871</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.beforeMethod()[pri:0, instance:com.mobitv.client.qa.nma.regression.tablet1.TestMovies@2d8e588c]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@390531526</td>   <td></td> </tr>
<tr bgcolor="83aeb9">  <td>15/09/16 12:14:39</td>   <td>355445</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestMovies.Test_Movies()[pri:0, instance:com.mobitv.client.qa.nma.regression.tablet1.TestMovies@2d8e588c]">Test_Movies</td> 
  <td>main@390531526</td>   <td></td> </tr>
<tr bgcolor="a77ecf">  <td>15/09/16 12:14:39</td>   <td>355460</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.afterMethod()[pri:0, instance:com.mobitv.client.qa.nma.regression.tablet1.TestMovies@2d8e588c]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@390531526</td>   <td></td> </tr>
<tr bgcolor="a77ecf">  <td>15/09/16 12:14:44</td>   <td>359658</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.beforeMethod()[pri:0, instance:com.mobitv.client.qa.nma.regression.tablet1.TestMovies@2d8e588c]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@390531526</td>   <td></td> </tr>
<tr bgcolor="83aeb9">  <td>15/09/16 12:14:59</td>   <td>374715</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestMovies.Test_NMA_2252()[pri:0, instance:com.mobitv.client.qa.nma.regression.tablet1.TestMovies@2d8e588c]">Test_NMA_2252</td> 
  <td>main@390531526</td>   <td></td> </tr>
<tr bgcolor="a77ecf">  <td>15/09/16 12:14:59</td>   <td>374721</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.afterMethod()[pri:0, instance:com.mobitv.client.qa.nma.regression.tablet1.TestMovies@2d8e588c]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@390531526</td>   <td></td> </tr>
<tr bgcolor="a77ecf">  <td>15/09/16 12:15:03</td>   <td>378881</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.beforeMethod()[pri:0, instance:com.mobitv.client.qa.nma.regression.tablet1.TestMovies@2d8e588c]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@390531526</td>   <td></td> </tr>
<tr bgcolor="83aeb9">  <td>15/09/16 12:15:18</td>   <td>393989</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestMovies.Test_NMA_2287()[pri:0, instance:com.mobitv.client.qa.nma.regression.tablet1.TestMovies@2d8e588c]">Test_NMA_2287</td> 
  <td>main@390531526</td>   <td></td> </tr>
<tr bgcolor="a77ecf">  <td>15/09/16 12:15:18</td>   <td>393993</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.afterMethod()[pri:0, instance:com.mobitv.client.qa.nma.regression.tablet1.TestMovies@2d8e588c]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@390531526</td>   <td></td> </tr>
<tr bgcolor="a77ecf">  <td>15/09/16 12:15:22</td>   <td>398333</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.beforeMethod()[pri:0, instance:com.mobitv.client.qa.nma.regression.tablet1.TestMusic@42591130]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@390531526</td>   <td></td> </tr>
<tr bgcolor="ddf9a8">  <td>15/09/16 12:15:39</td>   <td>414593</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestMusic.Test_Music()[pri:0, instance:com.mobitv.client.qa.nma.regression.tablet1.TestMusic@42591130]">Test_Music</td> 
  <td>main@390531526</td>   <td></td> </tr>
<tr bgcolor="a77ecf">  <td>15/09/16 12:16:23</td>   <td>458750</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.afterMethod()[pri:0, instance:com.mobitv.client.qa.nma.regression.tablet1.TestMusic@42591130]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@390531526</td>   <td></td> </tr>
<tr bgcolor="a77ecf">  <td>15/09/16 12:16:27</td>   <td>463203</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.beforeMethod()[pri:0, instance:com.mobitv.client.qa.nma.regression.tablet1.TestMusic@42591130]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@390531526</td>   <td></td> </tr>
<tr bgcolor="ddf9a8">  <td>15/09/16 12:16:43</td>   <td>478655</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestMusic.Test_Music_Mute()[pri:0, instance:com.mobitv.client.qa.nma.regression.tablet1.TestMusic@42591130]">Test_Music_Mute</td> 
  <td>main@390531526</td>   <td></td> </tr>
<tr bgcolor="a77ecf">  <td>15/09/16 12:17:33</td>   <td>529299</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.afterMethod()[pri:0, instance:com.mobitv.client.qa.nma.regression.tablet1.TestMusic@42591130]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@390531526</td>   <td></td> </tr>
<tr bgcolor="a77ecf">  <td>15/09/16 12:17:37</td>   <td>533406</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.beforeMethod()[pri:0, instance:com.mobitv.client.qa.nma.regression.tablet1.TestMusic@42591130]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@390531526</td>   <td></td> </tr>
<tr bgcolor="ddf9a8">  <td>15/09/16 12:17:53</td>   <td>549125</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestMusic.Test_Music_PlayPause()[pri:0, instance:com.mobitv.client.qa.nma.regression.tablet1.TestMusic@42591130]">Test_Music_PlayPause</td> 
  <td>main@390531526</td>   <td></td> </tr>
<tr bgcolor="a77ecf">  <td>15/09/16 12:18:41</td>   <td>597067</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.afterMethod()[pri:0, instance:com.mobitv.client.qa.nma.regression.tablet1.TestMusic@42591130]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@390531526</td>   <td></td> </tr>
<tr bgcolor="a77ecf">  <td>15/09/16 12:18:45</td>   <td>601202</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.beforeMethod()[pri:0, instance:com.mobitv.client.qa.nma.regression.tablet1.TestMusic@42591130]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@390531526</td>   <td></td> </tr>
<tr bgcolor="ddf9a8">  <td>15/09/16 12:19:01</td>   <td>616985</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestMusic.Test_NMA_2254()[pri:0, instance:com.mobitv.client.qa.nma.regression.tablet1.TestMusic@42591130]">Test_NMA_2254</td> 
  <td>main@390531526</td>   <td></td> </tr>
<tr bgcolor="a77ecf">  <td>15/09/16 12:19:37</td>   <td>652522</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.afterMethod()[pri:0, instance:com.mobitv.client.qa.nma.regression.tablet1.TestMusic@42591130]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@390531526</td>   <td></td> </tr>
<tr bgcolor="a77ecf">  <td>15/09/16 12:19:41</td>   <td>656696</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.beforeMethod()[pri:0, instance:com.mobitv.client.qa.nma.regression.tablet1.TestMusic@42591130]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@390531526</td>   <td></td> </tr>
<tr bgcolor="ddf9a8">  <td>15/09/16 12:19:55</td>   <td>670862</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestMusic.Test_NMA_2255()[pri:0, instance:com.mobitv.client.qa.nma.regression.tablet1.TestMusic@42591130]">Test_NMA_2255</td> 
  <td>main@390531526</td>   <td></td> </tr>
<tr bgcolor="a77ecf">  <td>15/09/16 12:20:34</td>   <td>710122</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.afterMethod()[pri:0, instance:com.mobitv.client.qa.nma.regression.tablet1.TestMusic@42591130]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@390531526</td>   <td></td> </tr>
<tr bgcolor="a77ecf">  <td>15/09/16 12:20:38</td>   <td>714389</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.beforeMethod()[pri:0, instance:com.mobitv.client.qa.nma.regression.tablet1.TestNetwork@69d2bdc3]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@390531526</td>   <td></td> </tr>
<tr bgcolor="be8ed3">  <td>15/09/16 12:20:53</td>   <td>728721</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNetwork.Test_Network()[pri:0, instance:com.mobitv.client.qa.nma.regression.tablet1.TestNetwork@69d2bdc3]">Test_Network</td> 
  <td>main@390531526</td>   <td></td> </tr>
<tr bgcolor="a77ecf">  <td>15/09/16 12:24:09</td>   <td>924686</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.afterMethod()[pri:0, instance:com.mobitv.client.qa.nma.regression.tablet1.TestNetwork@69d2bdc3]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@390531526</td>   <td></td> </tr>
</table>
