<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a2a29c">  <td>15/09/15 22:29:50</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FirstTest.Test_NMA_8994()[pri:0, instance:com.mobitv.client.qa.nma.regression.tablet1.FirstTest@3fc8e5f4]">Test_NMA_8994</td> 
  <td>main@301100868</td>   <td></td> </tr>
<tr bgcolor="a2a29c">  <td>15/09/15 22:30:07</td>   <td>16965</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;FirstTest.afterMethod()[pri:0, instance:com.mobitv.client.qa.nma.regression.tablet1.FirstTest@3fc8e5f4]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@301100868</td>   <td></td> </tr>
<tr bgcolor="a2a29c">  <td>15/09/15 22:29:37</td>   <td>-12937</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;FirstTest.beforeMethod()[pri:0, instance:com.mobitv.client.qa.nma.regression.tablet1.FirstTest@3fc8e5f4]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@301100868</td>   <td></td> </tr>
</table>
